.notificationItem {
  display: flex;
  margin: 2em;
  padding: 0.4em;
  background: lightsalmon;
  border-radius: 3px;
}

.notificationItem-content {
  flex: 1;
}

.notificationItem-close {
  padding: 0 0 0 2em;
  cursor: pointer;
}
